@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* Variables */
:root {
    /* Colors */ 
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    /* Fonts */
    --heading: 'Poppins', sans-serif;
    --body: 'Open Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--violet);
    background-image: url("images/bg-desktop.svg");
    position: relative;
}

/* Main Container */
.container-fluid {
    padding: 2.5rem 5.625rem 2.5rem 5rem;
}

/* Logo */
.logo {
    width: 12.5rem;
    margin-bottom: 3.75rem;
}

/* Main Information */
#main {
    margin-top: 2.8125rem;
    margin-left: 3.75rem;
}

h1 {
    color: #fff;
    font-family: var(--heading);
    font-weight: 600;
    line-height: 1.5;
    width: 31.25rem;
    margin-bottom: 2.8125;
}

p {
    color: hsl(0, 100%, 100%);
    font-family: var(--body);
    line-height: 1.5;
    width: 28.75rem;
    margin-bottom: 1.5625rem;
}

button {
    border: none;
    border-radius: 1.875rem;
    color: var(--violet);
    padding: 0.625rem 3.75rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.4);
    transition: cursor 0.15s, color 0.15s, background-color 0.15s;
}

/* Socials */
.socials {
    margin-left: 73.125rem;
}

i {
    color: #fff;
    margin-right: 0.5rem;
    border: solid 1px;
    border-radius: 100%;
    padding: 0.625rem;
    transition: cursor 0.15s, color 0.15s, border-color 0.15s;
}

.fa-facebook-f {
    padding-left: 13px;
    padding-right: 13px;
}

/* Active States */
i:hover {
    cursor: pointer;
    color: var(--soft-magenta);
    border-color: var(--soft-magenta);
}

button:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--soft-magenta);
}

/* Mobile Design */
@media (max-width: 376px) {
    body {
        background-image: url("images/bg-mobile.svg");
        background-size: 140%;
        text-align: center;
    }

    .container-fluid {
        padding: 1.875rem;
    }

    .logo {
        display: flex;
        align-items: flex-end;
    }

    img {
        width: 100%;
    }

    #main {
        margin: 3.125rem 0; 
    }

    h1 {
        width: 320px;
        font-size: 1.5em;
    }

    p {
        font-size: 14px;
        width: 265px;
        margin: 0 auto;
    }

    button {
        margin-top: 20px;
    }

    .socials {
        margin-left: 100px;
    }
}